
.noBorder{ 
    float: right;
    display: inline;
    width: 40%;
    margin: 1em;
}

.Border {
    float: right;
    display: inline-block;
    width: 40%;
    margin: 1em;
    border: 1px yellow solid;
    height: 100%;
}

.content {
    display: inline-block;
    width: 40%;
    float: right;
}

span .bold {
    border-bottom: solid 1px white;
}

.table {
    border: #FFD700 solid 1px;
    background-color: rgb(54, 54, 54);
    table-layout: fixed;
}

.table td {
    border: #FFD700 solid 1px;
    color: white;
}